<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}VDBENCH Web{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="{% static 'images/oracle.png' %}" width="40px" height="30" alt="Oracle">
      <a class="navbar-brand" title="Home" href="{% url 'home' %}">VDBENCH Web</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_remote_system' %}">Add Vdbench Host</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'modify_remote_systems' %}">Modify Hosts</a>
          </li> 
        </ul>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
  </ul> 
      <img src="{% static 'images/cisco3.png' %}" width="100px" height="50" alt="Cisco">
    </div>
  </nav>
  <div class="container mt-4">
    {% block content %}{% endblock %}
  </div>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
<footer class="navbar-light fixed-bottom">
  <div class="text-center p-3 container-fluid">
    &copy; 2023 Cisco Systems. All rights reserved.
  </div>
</footer>
</html>

